.controller_apps {
  &.action_index {
    #large_infobox {
      .media-left {
        img {
          width: 120px;
          height: 120px;
        }
      }
    }

    .app-list {
      .app-details {
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      .caption h4 {
        margin-top: 0px;
      }
    }
  }

  &.action_show {
    .btn-download {
      .download-icon {
        margin-right: 7px;
        img {
          position: relative;
          bottom: 1px;
        }
      } 
    }
  }
}
